<app-navbar></app-navbar>
<div class="container mt-4" style="opacity: 0.9;">
    <div class="card">
        <div class="card-body">
            <span class="h3">Notas</span>
            <div class="table-responsive">

             <!-- <h5 style="margin-top:  30px;" *ngIf="notas.length == 0">No hay registros para mostrar</h5> -->
            <table class="table table-striped table-hover mt-4">
                <thead>
                    <tr>
                        <th scope="col">Nombre Alumno</th>
                        <th scope="col">Materia por profesor</th>   
                        <th scope="col">Periodo</th>
                        <th scope="col">Definitiva Saber</th>
                        <th scope="col">Definitiva Hacer</th>
                        <th scope="col">Definitiva Ser</th>
                        <th scope="col">Definitiva total</th>
                        <th scope="col">Observaciones</th>
                        <th scope="col" *ngIf="!_alumno"></th>                                             
                        <th scope="col" *ngIf="!_alumno"></th>                                             
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let nota of notas">
                        <td>{{nota.ApplicationUser?.NombreCompleto}}</td>
                        <td>{{nota.MateriaProfesor?.Materia?.Nombre}} por {{nota.MateriaProfesor?.ApplicationUser?.NombreCompleto}}</td>
                        <td>{{nota.Periodo}}</td>
                        <td>{{nota.NotaSaber}}</td>
                        <td>{{nota.NotaHacer}}</td>
                        <td>{{nota.NotaSer}}</td>
                        <td>{{nota.DefinitivaTotal}}</td>
                        <td>{{nota.Observaciones}}</td>
                        <td *ngIf="!_alumno"><i class="fas fa-pen fa-lg text-info mr-2"[routerLink]="['/form-update-notas/',nota.Id]" *ngIf="!_alumno"></i></td>
                        <td *ngIf="!_alumno"><i (click)="eliminarNota(nota.Id)" class="fas fa-trash-alt fa-lg text-danger" *ngIf="!_alumno"></i></td>
                    </tr>                                
                </tbody>
            </table>
        </div>
        <button class="btn btn-dark btn-lg mr-2" style="float: right; margin-top: 20px; margin-left: 10px;" routerLink="../form-notas" *ngIf="!_alumno">Agregar</button>
        <!-- <button class="btn btn-dark btn-lg ml-5" style="float: right; margin-top: 20px; margin-left: 10px;" (click)="onSubirFormatoExcel()" *ngIf="!_alumno">Agregar Por Excel</button> -->
        <button class="btn btn-dark btn-lg " style="float: right; margin-top: 20px; margin-left: 10px;" (click)="onExportExcel()" *ngIf="!_alumno">Exportar Notas</button>
     
        </div>
    </div>
</div>

<div [hidden]="true">
    <input id="input_file" type="file" (change)="selectFile($event)">
</div>