<app-navbar></app-navbar>
<div class="container mt-4" style="opacity: 0.9">
    <div class="card">
        <div class="card-body">
            <span class="h3">Alumnos</span>

            <!-- <h5 style="margin-top:  30px;" *ngIf="alumnos.length == 0">No hay registros para mostrar</h5> -->
            <div class="table-responsive">
                <table class="table table-striped table-hover mt-4" id="datatable">
                    <thead>
                        <tr>
                            <!-- <th scope="col">IdAlumno</th> -->
                            <!-- <th scope="col">IdCurso</th> -->
                            <th scope="col">Nombre Completo</th>
                            <th scope="col">Grupo</th>
                            <th scope="col">Jornada</th>
                            <th scope="col">Tipo de Sangre</th>
                            <th scope="col">Correo</th>
                            <th scope="col">Documento</th>
                            <th scope="col">Nombre Acudiente</th>
                            <th scope="col">Numero Acudiente</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let alumno of alumnos">
                            <td>{{ alumno.NombreCompleto }}</td>
                            <td>{{ alumno.Grupo.Curso}}-{{ alumno.Grupo.Grado}}</td>
                            <td>{{ alumno.Jornada }}</td>
                            <td>{{ alumno.TipoSangre }}</td>
                            <td>{{ alumno.Correo }}</td>
                            <td>{{ alumno.Documento }}</td>
                            <td>{{ alumno.NombreAcudiente }}</td>
                            <td>{{ alumno.NumeroAcudiente }}</td>
                            <td>
                                <i class="fas fa-pen fa-lg text-info mr-2"
                                    [routerLink]="['/form-update-alumno/', alumno.Id]"></i>
                            </td>
                            <td>
                                <i (click)="eliminarAlumno(alumno.Id)" class="fas fa-trash-alt fa-lg text-danger"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <button class="btn btn-dark btn-lg" style="float: right; margin-top: 20px" routerLink="../form-alumno">
                Agregar
            </button>
        </div>
    </div>
</div>