<app-navbar></app-navbar>
<div class="container pt-4" style="opacity: 0.9;">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card text-center">
                <div class="card-body">
                    <h3>{{ tituloUsuario }}
                        <div *ngIf="loading" class="spinner-border float-end " role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </h3>
                    <span *ngIf="submitted && createUsuario.invalid" class="badge bg-danger">TODOS LOS CAMPOS SON OBLIGATORIOS</span>
                    <form class="mt-4" [formGroup]= "createUsuario" (ngSubmit)="guardarUsuario()">
                        
                        <!-- <label for="nombreCompleto" class="form-label" aling="rigth">Nombre Completo:</label> -->
                        <input type="text" class="form-control form-control-lg mb-4" formControlName="nombreCompleto" placeholder="Nombre Completo">
                        <span
                        *ngIf="createUsuario.controls.nombreCompleto.invalid && createUsuario.controls.nombreCompleto.touched">
                        Nombre Invalido</span>
                        <select formControlName="rol" class="form-control form-control-lg mt-4" >
                            <option disabled selected>Selecciona un rol</option>
                            <option *ngFor="let _rol of _roles" [value]="_rol.id">
                                {{_rol.name}}</option>
                        </select>

                        <div class="row">
                            <div class="col">
                                <input type="text" class="form-control form-control-lg mt-4" formControlName="documento" placeholder="Documento">
                                <span
                                *ngIf="createUsuario.controls.documento.invalid && createUsuario.controls.documento.touched">
                                Documento Invalido</span>
                            </div>
                        </div>
                        <input type="email" class="form-control form-control-lg mt-4" formControlName="email" placeholder="Email">
                        <span
                        *ngIf="createUsuario.controls.email.invalid && createUsuario.controls.email.touched">
                        Email Invalido</span>

                        <select formControlName="idGrupo" class="form-control form-control-lg mt-4" >
                            <option disabled selected>Selecciona un grupo</option>
                            <option *ngFor="let _grupo of _grupos" [value]="_grupo.id">
                                {{_grupo.curso}} {{_grupo.grado}}</option>
                        </select>
                        <span
                        *ngIf="createUsuario.controls.idGrupo.invalid && createUsuario.controls.idGrupo.touched">
                        Grupo Invalido</span>

                        <!-- <input type="number" class="form-control form-control-lg mt-4" formControlName="idGrupo" placeholder="Grupo">
                        <span
                        *ngIf="createUsuario.controls.idGrupo.invalid && createUsuario.controls.idGrupo.touched">
                        Grupo Invalido</span> -->
                        <div class="row">
                            <div class="col">
                                    <select class="form-select mt-4" formControlName="jornada" >
                                        <option disabled selected>Jornada</option>
                                        <option value='Unica'>Unica</option>
                                    </select>
                                    <span
                                    *ngIf="createUsuario.controls.jornada.invalid && createUsuario.controls.jornada.touched">
                                    Jornada Invalida</span>
                            </div>
                            <div class="col">
                                <select class="form-select mt-4" formControlName="tipoSangre">
                                    <option disabled selected>Tipo de sangre</option>
                                    <option value="O_POSITIVO">O +</option>
                                    <option value="O_NEGATIVO">O -</option>
                                    <option value="A_POSITIVO">A +</option>
                                    <option value="A_NEGATIVA">A -</option>
                                    <option value="B_POSITIVO">B +</option>
                                    <option value="B_NEGATIVO">B -</option>
                                    <option value="AB_POSITIVO">AB +</option>
                                    <option value="AB_NEGATIVO">AB -</option>
                                </select>
                                <span
                                *ngIf="createUsuario.controls.tipoSangre.invalid && createUsuario.controls.tipoSangre.touched">
                                Tipo de Sangre Invalido</span>
                            </div>                         
                        </div> 
                        
                        <input type="text" class="form-control form-control-lg mt-4" formControlName="nombreAcudiente" placeholder="Nombre acudiente">
                        <span
                        *ngIf="createUsuario.controls.nombreAcudiente.invalid && createUsuario.controls.nombreAcudiente.touched">
                        Nombre Acudiente Invalido</span>
                        <input type="text" class="form-control form-control-lg mt-4" formControlName="numeroAcudiente" placeholder="Numero de contacto acudiente">
                        <span
                        *ngIf="createUsuario.controls.numeroAcudiente.invalid && createUsuario.controls.numeroAcudiente.touched">
                        Numero Acudiente Invalido</span>
                       
                        <div class="mt-3">
                            <button type="text" class="btn btn-secondary btn-lg" style="margin-right: 10px;" routerLink="/usuario">Volver</button>
                            <button class="btn btn-dark btn-lg" [disabled]="!createUsuario.valid">Agregar</button>
                        </div>  
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>