<app-navbar></app-navbar>
<div class="container pt-4" style="opacity: 0.9;">
    <div class="row">
        <div class="col">
            <div class="card text-center">
                <div class="card-body">
                    <h3>Registro de Notas
                        <div *ngIf="loading" class="spinner-border float-end " role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </h3>
                    <!-- <span *ngIf="submitted && createAlumno.invalid" class="badge bg-danger">TODOS LOS CAMPOS SON OBLIGATORIOS</span> -->
                    <form class="mt-4" [formGroup]="createNota" (ngSubmit)="guardarNota()">
                        <div class="row">
                            <div class="col">
                                <select formControlName="IdMateriaProfesor" class="form-control form-control-lg mt-4">
                                    <option disabled selected>Profesor por materia</option>
                                    <option *ngFor="let _materiaprofesor of _materiasprofesores"
                                        [value]="_materiaprofesor.Id">
                                        {{_materiaprofesor.Materia?.Nombre}} por
                                        {{_materiaprofesor.ApplicationUser?.NombreCompleto}}</option>
                                </select>
                                <span *ngIf="createNota.controls.IdMateriaProfesor.invalid && createNota.controls.IdMateriaProfesor.touched">
                                    Materia por profesor Invalida</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <select formControlName="IdAlumno" class="form-control form-control-lg mt-4">
                                    <option disabled selected>Alumnos</option>
                                    <option *ngFor="let _alumno of _alumnos" [value]="_alumno.Id">
                                        {{_alumno.NombreCompleto}}</option>
                                </select>
                                <span *ngIf="createNota.controls.IdAlumno.invalid && createNota.controls.IdAlumno.touched">
                                    Alumno Invalido</span>
                            </div>
                            <div class="col-lg-3">
                                <select class="form-select mt-4" formControlName="Periodo">
                                    <option disabled selected>Periodo</option>
                                    <option value=Primer>Primero</option>
                                    <option value=Segundo>Segundo</option>
                                    <option value=Tercer>Tercero</option>
                                    <option value=Cuarto>Cuarto</option>
                                </select>
                                <span *ngIf="createNota.controls.Periodo.invalid && createNota.controls.Periodo.touched">
                                    Periodo Invalido</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <input type="number" class="form-control form-control-lg mt-4"
                                    formControlName="NotaSaber" placeholder="Definitiva Saber 40%">
                                <span *ngIf="createNota.controls.NotaSaber.invalid && createNota.controls.NotaSaber.touched">
                                    Definitiva Saber Invalida</span> 
                            </div>
                            <div class="col-lg-3">
                                <input type="number" class="form-control form-control-lg mt-4"
                                    formControlName="NotaHacer" placeholder="Definitiva Hacer 40%">
                                <span *ngIf="createNota.controls.NotaHacer.invalid && createNota.controls.NotaHacer.touched">
                                    Definitiva Hacer Invalida</span>
                            </div>
                            <div class="col-lg-3">
                                <input type="number" class="form-control form-control-lg mt-4" formControlName="NotaSer"
                                    placeholder="Definitiva Ser 20%">
                                <span *ngIf="createNota.controls.NotaSer.invalid && createNota.controls.NotaSer.touched">
                                    Definitiva Ser Invalida</span>
                            </div>
                            <div class="col-lg-3">
                                <input type="number" readonly class="form-control form-control-lg mt-4"
                                    formControlName="DefinitivaTotal" placeholder="Definitiva total">
                                <span *ngIf="createNota.controls.DefinitivaTotal.invalid && createNota.controls.DefinitivaTotal.touched">
                                    Definitiva Total Invalida</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <input type="Text" class="form-control form-control-lg mt-4"
                                    formControlName="Observaciones" placeholder="Observaciones">
                                <span *ngIf="createNota.controls.Observaciones.invalid && createNota.controls.Observaciones.touched">
                                    Observacion Invalida</span>
                            </div>
                        </div>

                        <div class="mt-3">
                            <button type="text" class="btn btn-secondary btn-lg" style="margin-right: 10px;"
                                routerLink="/nota">Volver</button>
                            <button [disabled]="!createNota.valid" class="btn btn-dark btn-lg">Agregar</button>
                            <!-- <button class="btn btn-dark btn-lg">Agregar</button> -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>